<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ganzib.mapper.local.ArticleTagMapper">

    <insert id="insertTag" parameterType="com.ganzib.model.ArticleTag">
		INSERT INTO
		lexicon.title_tag (
  			first_tag,
			second_tag,
			category
		  )
			VALUES
		  (
		   #{first_tag},
		   #{second_tag},
		   #{category}
		   ) ;
	</insert>

	<insert id="insertArticle10WTag" parameterType="com.ganzib.model.ArticleTag">
		INSERT INTO
		lexicon.article10w_tag (
		first_tag,
		second_tag,
		category
		)
		VALUES
		(
		#{first_tag},
		#{second_tag},
		#{category}
		) ;
	</insert>
</mapper>